body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Merriweather", "Helvetica Neue", Arial, sans-serif;
}

hr {
  border-width: 3px;
  border-color: #9428be;
}

hr.light {
  border-color: #fff;
}

i.fa-4x {
  padding: 10px;
  background: #000;
}

a {
  color: #9428be;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  text-decoration: none;
}

a:hover {
  color: #9428be;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

.bg-primary {
  background-color: #9428be !important;
}

.bg-dark {
  background-color: #212529 !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 2rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../img/header.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2rem;
}

header.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}

.service-box {
  max-width: 400px;
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}

.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(240, 95, 64, 0.9);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

.portfolio-box
  .portfolio-box-caption
  .portfolio-box-caption-content
  .project-category,
.portfolio-box
  .portfolio-box-caption
  .portfolio-box-caption-content
  .project-name {
  padding: 0 15px;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

.portfolio-box
  .portfolio-box-caption
  .portfolio-box-caption-content
  .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.portfolio-box
  .portfolio-box-caption
  .portfolio-box-caption-content
  .project-name {
  font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

.portfolio-box:focus {
  outline: none;
}

@media (min-width: 768px) {
  .portfolio-box
    .portfolio-box-caption
    .portfolio-box-caption-content
    .project-category {
    font-size: 16px;
  }
  .portfolio-box
    .portfolio-box-caption
    .portfolio-box-caption-content
    .project-name {
    font-size: 22px;
  }
}

.text-primary {
  color: #9428be !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #9428be;
  border-color: #9428be;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #fff;
  background-color: #ee4b28 !important;
}

.btn-primary:active,
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}

/*choice in main div*/
.col-lg-3.col-md-6.text-center,
.col-lg-4.col-md-6.text-center {
  background: #ffffff75;
}

.mobile {
  padding-top: 50px;
}

.text-homepage {
  color: black;
  font-weight: bold !important;
  background-color: white;
  opacity: 0.8;
}

@media only screen and (max-width: 500px) {
  .top-icon {
    color: black;
    font-weight: bold;
    background-color: white;
    opacity: 0.8;
    display: none;
  }
  .col-lg-3.col-md-6.text-center {
    width: 50%;
  }
  .col-lg-4.col-md-6.text-center {
    width: 50%;
  }
  header.masthead {
    padding-top: 7rem;
  }
  .mobile {
    padding-top: 0px;
  }
}

/* ````````````````````` upgrade ````````````````````````` */
.logo {
  height: 5rem;
  aspect-ratio: 16 / 9;
}

@media (max-width: 768px) {
  .logo {
    height: 3rem;
    aspect-ratio: 16 / 9;
  }
}

#main {
  background-image: url(img/header.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding: 3rem 1rem;
  margin-top: 64px;
}

#umrah {
  padding-top: 75px;
}

.main-space {
  backdrop-filter: blur(20px);
  height: fit-content;
}

.main-title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
  line-height: 125%;
}

.main-subtitle {
  font-size: 1rem;
  line-height: 125%;
}

@media (min-width: 768px) {
  #main,
  #umrah,
  #international {
    aspect-ratio: 16 / 7;
    margin-top: 95px;
  }

  #umrah {
    padding-top: 0;
  }

  .main {
    height: 10rem;
    aspect-ratio: 16 / 9;
  }

  .main-text {
    background: #044b96;
  }

  .main-body {
    height: 75vh;
  }

  .main-title {
    font-size: 3rem;
  }

  .main-subtitle {
    font-size: 2rem;
  }

  .layout-height {
    height: 30rem;
  }
}

.popup-gallery {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .popup-gallery {
    gap: 2rem;
  }
}

#carRental .img-fluid {
  margin-top: 5rem;
  max-height: 80vh;
}

@media (min-width: 768px) {
  #carRental .img-fluid {
    max-height: 80vh;
    display: flex;
    margin: 7rem auto;
  }
}
