html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
}

.header {
}

.logo {
  height: 5rem;
  aspect-ratio: 16 / 9;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #9428be;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #9428be;
}

footer {
  background-color: #343a40;
}

@media (max-width: 768px) {
  .logo {
    height: 3rem;
    aspect-ratio: 16 / 9;
  }
}
